@import url('../../node_modules/tom-select/dist/css/tom-select.css');

header .add-car-button {
    background-color: green;
    border-radius: 4px;
    border: none;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    float: right;
}

.ts-control .item, .ts-control input {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400;
}

.ts-dropdown-content .option {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400;
}

#select_section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 30px;
}

#select_section form {
    display: inline-block;
    width: 50%;
}

#form_container {
    display: flex;
    justify-content: center;
}

form {
    width: 75%;
    display: grid;
    grid-template-columns: max-content auto;
    grid-row-gap: 10px;
}

form label {
    display: flex;
    padding: 0 10px;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
}

form input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 8px 5px;
}

form .input-error {
    border: 1px solid red;
}

form .error-message {
    font-family: Roboto;
    color: red;
    font-size: 0.89em;
}

.car-list-buttons {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px;
    grid-column-gap: 10px;
}

.car-list-button {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.car-list-button.green {
    border: 1px solid #007a5c;
    color: #007a5c;
}

.car-list-button.grey {
    border: 1px solid #575757;
    color: #575757;
}

.car-list-button.red {
    border: 1px solid red; 
    color: red;
}
                       
