@import url('../../node_modules/tom-select/dist/css/tom-select.css');

header .add-car-button {
    background-color: green;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    float: right;
}

.ts-control .item {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 500;
}

.ts-dropdown-content .option {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 500;
}

#select_section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}

#select_section .tom-select {
    width: 50%;
}
